name: Scheduled HTTP Request

on: [push, fork]
  # schedule:
  #   - cron: '*/5 * * * *'

jobs:
  http-request:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        run: npm install
      - name: Send HTTP request
        run: node app.js
      - name: upload files
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Changed files
         
